*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* ul{
    list-style: none;
}

a{
    text-decoration: none;
}

html{
    font-size: 10px;
}

.main{
    width: 100%;
    min-height: 100vh;
    background-color: #ebebeb;
    background-color: #fff;
    padding: 2rem;
}

.searchbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 6px 1px #bdbdbd;
}

.searchbar input{
    height: 4rem;
    padding: 1rem;
    font-size: 1.8rem;
    outline: none;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.searchbar .searchbar__button{
    width: 100%;
    height: 4rem;
    background-color: #2247a3;
    border-bottom: solid 1px #142a5a;
    color: #fff;
    font-size: 2.25rem;
    font-family: "Helvetica Neue";
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.searchbar .searchbar__button:hover{
    background-color: #19367a;
    color: #fff;
}

.searchResults{
    margin-top: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game{
    height: auto;
    width: 100%;
    max-width: 70rem;
    font-family: "Helvetica Neue";
    color: #333;
    background-color: #fff;
    box-shadow: 1px 1px 6px 1px #bdbdbd;
    margin-bottom: 4rem;
}



.game .game__screenshot{
    width: 100%;
}

.game .game__screenshot img{
    height: auto;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.game .game__title,
.game .game__details{
    display: inline-block;
    height: auto;
    width: 100%;
    padding: 2rem;
    font-size: 2.6rem;
}

.game .game__title{
    color: #2247a3;
}

.game .game__details{
    text-align: center;
    background-color: #2247a3;
    color: #fff;
    cursor: pointer;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.game .game__details:hover{
    background-color: #142a5a;
}

.game .game__description{
    font-size: 1.6rem;
    color: #444;
    padding: 2rem;
    line-height: 1.6;
}

.suggestions{
    margin-top: 5rem;
}

.suggestions__title{
    padding: 2rem;
    font-size: 2.2rem;
}

.slider{
    position: relative;
    width: 100%;
    height: auto;
    background-color: palevioletred;
}

.arrow{
    position: absolute;
    top: 0;
    height: 100%;
    width: 4rem;
    background-color: #222;
    opacity: 0;
}

.arrow:hover{
    opacity: 0.6;
}

.arrow__left{
    left: 0;
}

.arrow__right{
    right: 0;
}

.item{
    width: 100%;
    height: auto;
}

.item__image{
    height: 30rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}


.item__image img{
    height: 100%;
    width: auto;
}

.item__title{
    padding: 2rem;
    font-size: 1.8rem;
}
